<h1>Create container</h1>
<p>
    <a asp-controller="AzureBlobs" asp-action="Index">
        Back to containers
    </a>
</p>
<form method="post">
    <label>Nombre del container: </label>
    <input type="text" name="containername" class="form-control"/>
    <button class="btn btn-success">Create container</button>
</form>